:root {
	--color-top-bar: #1b72e8;
	--color-green: #198754;
	--color-yellow: #ffc107;
	--color-red: #dc3545;
	--color-gray: #6c757d;
	--color-left-bar: #051e34;
	--color-white: #ffffff;
    --color-bg-header: #165bba;
}

*{
    font-family: "Roboto", sans-serif;
}

.ldg-ul{
    padding-top: 8px;
}

.ldg-gray-text{
    color: var(--color-gray);
}

.ldg-bg-header{
    background-color: var(--color-bg-header);
}

ul{
    list-style: none;
}


header{
    height: 50px;
}

.fa-bell{
    color: var(--color-yellow);
}

.ldg-plus{
    display: none;
}

.ldg-mobile-logo{
    display: none;
}

.fa-chevron-right{
    font-size: 15px;
}

.ldg-margin-top{
    margin-top:70px;
}
/* container */
.ldg-wrapper{
    background-color: var(--color-white);
    height: 100vh;
}

.ldg-bg-blue{
    background-color:  var(--color-top-bar);
}

.ldg-content{
    height: calc(100vh - 80px);
    width: 100%;
}

/* fixed trasparent navbar */
nav{
    width: 200px;
    height: 100%;
    background-color: var(--color-left-bar);
    padding-top: 70px;
}

#sidebar{
    background-image: url('../img/sidebar-bg.png');
    width: 200px;
    background-color: var(--color-left-bar);
}

#sidebar ul li:hover a{
    background-color: var(--color-gray);
}

.card-header h2{
    font-size: 20px;
}

main{
    height: 100%;
    width: calc(100% - 200px);
    padding-top: 50px;
}

main .card{
    margin-top: 0.8rem;
}

.avatar-container{
    width: 30px;
    height: 30px;
}

.avatar-container img{
    width: 100%;
}

.table-title{
    font-size: 13px;
}

.data{
    white-space: nowrap;
}

.trash-icon{
    margin-left: 15px;
}

.ldg-padding-list{
    padding: 15px;
}

.ldg-small-text{
    font-size: 15px;
}

.ldg-new-student{
    vertical-align: middle;
    margin-left: 10px;
}

.ldg-bottom{
    margin-bottom: 8px;
}

.ldg-font-size-small{
    font-size: 15px;
}

.ldg-offcanvas{
    width: 800px;
}

@media screen and (max-width: 576px){

    .mobile-none{
        display: none;
    }

}

@media screen and (max-width: 992px){

    .ldg-responsive{
        display: none;
    }

    .ldg-plus{
        display: inline-block;
    }

}

@media screen and (max-width: 768px){

    .ldg-responsive-ul{
        display: none;
    }

    .ldg-flex-left{
        max-width: 300px;
    }

    #boolean{
        margin-bottom: 20px;
    }

    #new-student{
        margin-bottom: 20px;
    }

    #students-online{
        margin-bottom: 20px;
    }

    .ldg-big-logo{
        display: none;
    }

    .ldg-mobile-logo{
        display: block;
        width: 50px;
    }

    #sidebar{
        width: 50px;
    }

    #sidebar i {
        margin-left: -15px;
    }

    main{
        width: calc(100% - 50px);
    }
    
    ul li a span{
        display: none;
    }
}