:root {
	--color-top-bar: #1b72e8;
	--color-green: #198754;
	--color-yellow: #ffc107;
	--color-red: #dc3545;
	--color-gray: #6c757d;
	--color-left-bar: #051e34;
	--color-white: #ffffff;
}

ul{
    list-style: none;
}

.my-margin-navbar{
    margin-left: 145px;
}

header{
    height: 50px;
}

.my-navbar{
    height: 100px;
    position: fixed;
    width: calc(100% - 145px);
}

/* container */
.ldg-wrapper{
    background-color: var(--color-white);
    height: 100vh;
}

.ldg-bg-blue{
    background-color:  var(--color-top-bar);
}

.ldg-content{
    height: calc(100vh - 80px);
    width: 100%;
}

/* fixed trasparent navbar */
nav{
    width: 200px;
    height: 100%;
    background-color: var(--color-left-bar);
    padding-top: 70px;
}

#sidebar{
    background-image: url('../img/sidebar-bg.png');
    width: 200px;
    background-color: var(--color-left-bar);
}

#sidebar ul li:hover a{
    background-color: var(--color-gray);
}

.card-header h2{
    font-size: 20px;
}

main{
    height: 100%;
    width: calc(100% - 200px);
    padding-top: 50px;
}

main .card{
    margin-top: 0.8rem;
}

.avatar-container{
    width: 30px;
    height: 30px;
}

.avatar-container img{
    width: 100%;
}

.table-title{
    font-size: 13px;
}

.data{
    white-space: nowrap;
}

.trash-icon{
    margin-left: 15px;
}

.ldg-padding-list{
    padding: 15px;
}

.ldg-small-text{
    font-size: 15px;
}

@media screen and (max-width: 576px){

    .mobile-none{
        display: none;
    }

    ul li a span{
        display: none;
    }

    #sidebar{
        width: 50px;
    }

    #sidebar i {
        margin-left: -15px;
    }

    main{
        width: calc(100% - 50px);
    }
}